@model CoreCurdApplicationWithRoleBased.Models.Product

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>Edit</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProductId" />
            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfPurchase" class="control-label"></label>
                <input asp-for="DateOfPurchase" class="form-control" />
                <span asp-validation-for="DateOfPurchase" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AvailabilityStatus" class="control-label"></label>
                <input asp-for="AvailabilityStatus" class="form-control" />
                <span asp-validation-for="AvailabilityStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category.CategoryId" class="control-label"></label>
                <select class="form-control" id="CategoryId" name="CategoryID">
                    <option value="">Please Select Category</option>
                    @foreach (var cat in ViewBag.Categories)
                    {
                        if (cat.CategoryId == Model.CategoryId)
                        {
                            <option value="@cat.CategoryId" selected="selected">@cat.CategoryName</option>
                        }
                        else
                        {
                            <option value="@cat.CategoryId">@cat.CategoryName</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Brand.BrandId" class="control-label"></label>
                <select class="form-control" id="BrandId" name="BrandId">
                    <option value="">Please Select Category</option>
                    @foreach (var cat in ViewBag.Brands)
                    {
                        if (cat.BrandId == Model.BrandId)
                        {
                            <option value="@cat.BrandId" selected="selected">@cat.BrandName</option>
                        }
                        else
                        {
                            <option value="@cat.BrandId">@cat.BrandName</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-danger">Cancel</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
